@import "../../../styles/variables";

.league__league-table {
    padding: 4rem 12rem;

    &__h2 {
        font-size: 2rem;
        letter-spacing: .2rem;
        margin: 2rem;
    }

    &__h3 {
        margin: 2rem;
        font-size: 1.4rem;
        letter-spacing: .1rem;
    }

    &__table {
        border-collapse: collapse;
        width: 100%;

        &__thead {

            &__tr {

                &__th {
                    font-size: 1.2rem;
                    border: 1px solid $color-grey-light-3;
                    padding-top: .4rem;
                    padding-bottom: .4rem;
                    text-align: center;
                    background-color: $color-fourth-light;
                    color: white;

                    &:nth-child(1) {
                        display: none;
                    }
                }
            }
        }

        &__tbody {

            &__tr {
                &:nth-child(even) {
                    background-color: $color-grey-light-1;
                }

                &:nth-child(odd) {
                    background-color: $color-grey-light-4;
                }

                &:hover, &:focus {
                    background-color: $color-fifth;
                    outline: none;
                }

                &__td {
                    border: 1px solid $color-grey-light-3;
                    padding: .4rem 0rem .4rem 1rem;
                    font-size: 1.1rem;
                    color: $color-black;

                    &:not(:first-child) {
                        text-align: center;
                    }

                    &:nth-child(2) {
                        display: none;
                    }

                    &__link {
                        // margin: 2rem;
                        // font-size: 1.6rem;
                        color: $color-fourth;
                        display: inline-block;
                        text-decoration: none;
                        border-bottom: .1rem solid $color-fourth;
                        // padding: .3rem;
                        -webkit-transition: all .2s;
                        transition: all .2s;
                
                        &:hover, &:focus {
                            background-color: $color-fourth;
                            color: $color-grey-light-1;
                            -webkit-box-shadow: 0 1rem 2rem rgba(0,0,0,0.15);
                            box-shadow: 0 1rem 2rem rgba(0,0,0,0.15);
                            -webkit-transform: translateY(-.2rem);
                            transform: translateY(-.2rem);
                        }
                    }
                }
            }
        }
    }
}