.carousel__btn--next {
  z-index: 1;
}

.carousel__btn--prev {
  z-index: 1;
}

.carousel__btn:hover, .carousel__btn:focus, .carousel__btn:active {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.carousel__icon {
  fill: #DB4076;
  width: 200%;
  height: 200%;
}

.carousel__icon:hover, .carousel__icon:focus-within {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  fill: #620AA8;
}

.slick-dots li {
  margin: 0 1rem !important;
}

.slick-dots li button:before {
  color: #DB4076 !important;
  font-size: 1.5rem !important;
  opacity: .5 !important;
}

.slick-dots li button:hover {
  opacity: .75 !important;
}

.slick-dots li.slick-active {
  margin: 0 1rem;
}

.slick-dots li.slick-active button:before {
  color: #FFDD82 !important;
}

.slick-slide {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.slick-slide > div {
  padding: 0 2rem;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  height: 20rem;
}

.slick-list {
  padding: 4rem 0 !important;
}

.slick-prev:before {
  content: none !important;
}

.slick-next:before {
  content: none !important;
}

.slick-arrow:focus {
  outline: none;
}

.slick-arrow:focus > svg {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  fill: #620AA8;
  outline: none;
}

.AllLeagues {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10rem 0;
  background-size: cover;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(17, 17, 17, 0.8)), to(rgba(17, 17, 17, 0.8))), url(../../../resources/images/izuddin-helmi-adnan-K5ChxJaheKI-unsplash.jpg);
  background-image: linear-gradient(to right bottom, rgba(17, 17, 17, 0.8), rgba(17, 17, 17, 0.8)), url(../../../resources/images/izuddin-helmi-adnan-K5ChxJaheKI-unsplash.jpg);
}

.AllLeagues__badge {
  width: 80%;
  margin-bottom: 1rem;
}

.AllLeagues__btn {
  background-color: transparent;
  position: absolute;
  width: 3.2rem;
  height: 3.2rem;
  right: 0.5rem;
  top: 15.5rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.AllLeagues__btn:hover, .AllLeagues__btn:focus {
  background-color: #FFDD82;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.AllLeagues__icon {
  position: absolute;
  top: -8%;
  left: -8%;
  height: 3.75rem;
  width: 3.75rem;
}

.AllLeagues__card {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
}

.AllLeagues__cardContainer {
  position: relative;
  -webkit-box-shadow: 0 0 1.5rem #FFDD82;
          box-shadow: 0 0 1.5rem #FFDD82;
  padding: 1rem;
  border-radius: 5px;
  background-size: cover;
  background-image: radial-gradient(#28b485 0%, #111 98%);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  height: 23rem;
}

.AllLeagues__h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 4rem 0rem 1rem 0rem;
}

.AllLeagues__h2 {
  margin-left: 2rem;
  letter-spacing: 0.6rem;
  font-size: 1.8rem;
}

.AllLeagues__h3 {
  margin-top: 1.4rem;
  margin-left: 0.2rem;
  width: 70%;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
}

.AllLeagues__league {
  padding: 2rem 10rem;
  margin: 3rem 0;
}

.h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 25%;
  letter-spacing: 1rem;
  z-index: 1;
  border: none;
  background: none;
  background-image: -webkit-gradient(linear, left top, right top, from(#FFDD82), color-stop(70%, #620AA8)), -webkit-gradient(linear, left top, right top, from(#FFDD82), color-stop(70%, #620AA8));
  background-image: linear-gradient(90deg, #FFDD82 0%, #620AA8 70%), linear-gradient(90deg, #FFDD82 0%, #620AA8 70%);
  border-left: 3px solid #FFDD82;
  border-right: 3px solid #620AA8;
  border-radius: 10px;
  background-position: 0 0, 0 100%;
  background-repeat: no-repeat;
  background-size: 100% 3px;
}

.h1:hover {
  background-repeat: repeat;
}

@media only screen and (max-width: 1024px) {
  .h1 {
    width: 30%;
  }
}

@media only screen and (max-width: 768px) {
  .h1 {
    width: 40%;
  }
}

@media only screen and (max-width: 480px) {
  .h1 {
    width: 50%;
  }
  .AllLeagues {
    padding: 2rem 0;
  }
  .AllLeagues__league {
    padding: 2rem 4rem;
  }
}
/*# sourceMappingURL=AllLeagues.css.map */