.league__events {
  padding: 4rem;
}

.league__events__btn {
  cursor: pointer;
  background-color: transparent;
  width: 4rem;
  height: 4rem;
  -webkit-transition: all .2s;
  transition: all .2s;
  margin-bottom: 3rem;
  margin-left: 18rem;
  display: none;
}

.league__events__h2 {
  margin-bottom: 1rem;
  margin-left: 4rem;
  font-size: 2.6rem;
  letter-spacing: .2rem;
}

.league__events__card-container {
  display: -ms-inline-grid;
  display: inline-grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -webkit-column-gap: 3rem;
          column-gap: 3rem;
  row-gap: 8rem;
  place-items: center;
  padding-bottom: 4rem;
}

.league__events__card-container__hide {
  display: none;
  height: 0;
}

.league__events__card-container__card {
  padding-bottom: 2rem;
  height: 60rem;
  background-size: cover;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(17, 17, 17, 0.6)), to(rgba(17, 17, 17, 0.6))), url(../../../resources/images/daniel-van-den-berg-29Jx9qyTW14-unsplash.jpg);
  background-image: linear-gradient(to right bottom, rgba(17, 17, 17, 0.6), rgba(17, 17, 17, 0.6)), url(../../../resources/images/daniel-van-den-berg-29Jx9qyTW14-unsplash.jpg);
}

.league__events__card-container__card__h4 {
  font-size: 1.2rem;
  margin: .5rem 0;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.league__events__card-container__card__h4:hover {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.league__events__card-container__card__p {
  font-size: 1rem;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.league__events__card-container__card__p:hover {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.league__events__card-container__card__hr {
  width: 20rem;
  background-image: radial-gradient(circle, #FFDD82 0%, rgba(210, 208, 208, 0) 90%);
  border: none;
  margin: 1rem;
}

.league__events__card-container__card__img {
  width: 100%;
  height: auto;
}

.league__events__card-container__card__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  place-items: center;
  padding-top: 2rem;
}

.league__events__card-container__card__links {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 2rem 2fr;
      grid-template-columns: 2fr 2rem 2fr;
  place-content: center;
  cursor: pointer;
  font-size: 1.8rem;
  padding: 4rem 2rem;
  height: 6rem;
}

.league__events__card-container__card__links__p {
  padding: .1rem;
}

.league__events__card-container__card__links__link {
  color: #FFDD82;
  display: inline-block;
  border-bottom: 0.1rem solid #FFDD82;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.league__events__card-container__card__links__link:focus, .league__events__card-container__card__links__link:hover {
  background-color: #FFDD82;
  color: #DB4076;
  padding: 0rem 0.5rem;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  -webkit-transition: all .3s;
  transition: all .3s;
}

.league__events__card-container__card__video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  place-items: center;
  padding: 2rem;
}

.league__events__indicator__plus {
  display: none;
  height: 0;
}

.league__events__indicator__plus__show {
  display: block;
  height: auto;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.league__events__indicator__plus__show:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  fill: #620AA8;
}

.league__events__indicator__minus {
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.league__events__indicator__minus:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  fill: #620AA8;
}

.league__events__indicator__minus__hide {
  display: none;
  height: 0;
}

.league__events__no-events {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 4;
  font-size: 2rem;
}

.card__previous {
  height: 67rem;
}

.link--home-team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 1rem;
}

.link--away-team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 1rem;
}

.league__previous {
  padding: 4rem;
}

.league__previous__btn {
  cursor: pointer;
  background-color: transparent;
  width: 4rem;
  height: 4rem;
  -webkit-transition: all .2s;
  transition: all .2s;
  margin-bottom: 3rem;
  margin-left: 18rem;
  display: none;
}

.league__previous__h2 {
  margin-bottom: 1rem;
  margin-left: 4rem;
  font-size: 2.6rem;
  letter-spacing: .2rem;
}

.league__previous__card-container {
  display: -ms-inline-grid;
  display: inline-grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -webkit-column-gap: 3rem;
          column-gap: 3rem;
  row-gap: 8rem;
  place-items: center;
  padding-bottom: 4rem;
}

.league__previous__card-container__hide {
  display: none;
  height: 0;
}

.league__previous__card-container__card {
  padding-bottom: 2rem;
  height: 60rem;
  background-size: cover;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(17, 17, 17, 0.6)), to(rgba(17, 17, 17, 0.6))), url(../../../resources/images/daniel-van-den-berg-29Jx9qyTW14-unsplash.jpg);
  background-image: linear-gradient(to right bottom, rgba(17, 17, 17, 0.6), rgba(17, 17, 17, 0.6)), url(../../../resources/images/daniel-van-den-berg-29Jx9qyTW14-unsplash.jpg);
}

.league__previous__card-container__card__h4 {
  font-size: 1.2rem;
  margin: .5rem 0;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.league__previous__card-container__card__h4:hover {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.league__previous__card-container__card__p {
  font-size: 1rem;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.league__previous__card-container__card__p:hover {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.league__previous__card-container__card__hr {
  width: 20rem;
  background-image: radial-gradient(circle, #FFDD82 0%, rgba(210, 208, 208, 0) 90%);
  border: none;
  margin: 1rem;
}

.league__previous__card-container__card__img {
  width: 100%;
  height: auto;
}

.league__previous__card-container__card__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  place-items: center;
  padding-top: 2rem;
}

.league__previous__card-container__card__links {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 2rem 2fr;
      grid-template-columns: 2fr 2rem 2fr;
  place-content: center;
  cursor: pointer;
  font-size: 1.8rem;
  padding: 4rem 2rem;
  height: 6rem;
}

.league__previous__card-container__card__links__p {
  padding: .1rem;
}

.league__previous__card-container__card__links__link {
  color: #FFDD82;
  display: inline-block;
  border-bottom: 0.1rem solid #FFDD82;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.league__previous__card-container__card__links__link:focus, .league__previous__card-container__card__links__link:hover {
  background-color: #FFDD82;
  color: #DB4076;
  padding: 0rem 0.5rem;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  -webkit-transition: all .3s;
  transition: all .3s;
}

.league__previous__card-container__card__video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  place-items: center;
  padding: 2rem;
}

.league__previous__indicator__plus {
  display: none;
  height: 0;
}

.league__previous__indicator__plus__show {
  display: block;
  height: auto;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.league__previous__indicator__plus__show:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  fill: #620AA8;
}

.league__previous__indicator__minus {
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.league__previous__indicator__minus:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  fill: #620AA8;
}

.league__previous__indicator__minus__hide {
  display: none;
  height: 0;
}

.league__previous__no-previous {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 4;
  font-size: 2rem;
}

.card__previous {
  height: 67rem;
}

.link--home-team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 1rem;
}

.link--away-team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 1rem;
}

.league__league-table {
  padding: 4rem 12rem;
}

.league__league-table__h2 {
  font-size: 2rem;
  letter-spacing: .2rem;
  margin: 2rem;
}

.league__league-table__h3 {
  margin: 2rem;
  font-size: 1.4rem;
  letter-spacing: .1rem;
}

.league__league-table__no-table {
  margin: 8rem auto;
  width: 50%;
  font-size: 2rem;
}

.league__league-table__table {
  border-collapse: collapse;
  width: 100%;
}

.league__league-table__table__thead__tr__th {
  font-size: 1.2rem;
  border: 1px solid #f0eeee;
  padding-top: .4rem;
  padding-bottom: .4rem;
  text-align: center;
  background-color: #663399;
  color: white;
}

.league__league-table__table__thead__tr__th:nth-child(1) {
  display: none;
}

.league__league-table__table__tbody__tr:nth-child(even) {
  background-color: #faf9f9;
}

.league__league-table__table__tbody__tr:nth-child(odd) {
  background-color: #ccc;
}

.league__league-table__table__tbody__tr:hover, .league__league-table__table__tbody__tr:focus {
  background-color: #FFDD82;
  outline: none;
}

.league__league-table__table__tbody__tr__td {
  border: 1px solid #f0eeee;
  padding: .4rem 0rem .4rem 1rem;
  font-size: 1.1rem;
  color: #111;
}

.league__league-table__table__tbody__tr__td:not(:first-child) {
  text-align: center;
}

.league__league-table__table__tbody__tr__td:nth-child(2) {
  display: none;
}

.league__league-table__table__tbody__tr__td__link {
  color: #620AA8;
  display: inline-block;
  text-decoration: none;
  border-bottom: 0.1rem solid #620AA8;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.league__league-table__table__tbody__tr__td__link:hover, .league__league-table__table__tbody__tr__td__link:focus {
  background-color: #620AA8;
  color: #faf9f9;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  -webkit-transform: translateY(-0.2rem);
  transform: translateY(-0.2rem);
}

.league {
  padding-top: 3rem;
  background-image: radial-gradient(#0aa848 0%, #111 98%);
}

.league__intro {
  background: linear-gradient(165deg, #251431 0%, #161130 22%);
  color: #fff;
}

.league__intro__image {
  background-size: cover !important;
  height: 96vh;
  width: auto;
  padding: 7% 10%;
}

.league__intro__header {
  margin: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.league__intro__header__banner {
  margin: 2rem;
}

.league__intro__header__title {
  text-align: center;
  text-align: -webkit-center;
}

.league__intro__header__title__h1 {
  font-size: 5rem;
  background-repeat: no-repeat;
  -webkit-transition: all .2s;
  transition: all .2s;
  width: 100%;
}

.league__intro__header__title__h1:hover {
  background-repeat: repeat;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.league__intro__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5rem;
}

.league__intro__navigation__btn {
  height: 4rem;
  background-color: transparent;
  cursor: pointer;
}

.league__intro__navigation__icon--back {
  width: 5rem;
  height: 5rem;
}

.league__intro__navigation__icon--back:hover {
  fill: #620AA8;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.league__intro__navigation__icon--share {
  cursor: pointer;
  width: 4rem;
  height: 4rem;
}

.league__intro__navigation__icon--share:hover, .league__intro__navigation__icon--share:focus {
  fill: #FFDD82;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.league__intro__navigation__link:focus {
  outline: none;
}

.league__intro__navigation__link:focus > button > svg {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  fill: #620AA8;
}

.league__intro__share {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  overflow: hidden;
  position: absolute;
  left: 125rem;
  top: 10rem;
  width: 5rem;
  height: 20rem;
}

.league__intro__share__hide {
  display: none;
  height: 0;
}

.league__intro__share__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 4rem;
  height: 4rem;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.league__intro__share__link:hover, .league__intro__share__link:focus {
  outline: none;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.league__info {
  margin: 2rem;
}

.league__info__description {
  padding: 0rem 9rem;
}

.league__info__description__btn {
  cursor: pointer;
  background-color: transparent;
  width: 4rem;
  height: 4rem;
  margin-left: 6rem;
  display: none;
}

.league__info__description__h2 {
  margin: 2rem;
  font-size: 2.4rem;
  letter-spacing: .2rem;
}

.league__info__description__p {
  font-size: 1.2rem;
  margin: 2rem;
}

.league__info__description__p__hide {
  display: none;
  height: 0;
}

.league__info__description__indicator__plus {
  display: none;
  height: 0;
}

.league__info__description__indicator__plus__show {
  display: block;
  height: auto;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.league__info__description__indicator__plus__show:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  fill: #620AA8;
}

.league__info__description__indicator__minus {
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.league__info__description__indicator__minus:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  fill: #620AA8;
}

.league__info__description__indicator__minus__hide {
  display: none;
  height: 0;
}

.league__info__media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8rem 4rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.league__info__media__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 6rem;
  height: 6rem;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.league__info__media__link:hover, .league__info__media__link:focus {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.league__team-badge {
  padding: 8rem 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.league__team-badge__img {
  width: 5rem;
  height: 5rem;
}

.league__team-badge__link {
  -webkit-transition: all .2s;
  transition: all .2s;
}

.league__team-badge__link:hover, .league__team-badge__link:focus {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.league__team-short-description {
  background-size: cover;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(17, 17, 17, 0.05)), color-stop(rgba(10, 168, 72, 0.95)), to(rgba(17, 17, 17, 0.05))), url(../../../resources/images/alt/stadium-931975.jpg);
  background-image: linear-gradient(90deg, rgba(17, 17, 17, 0.05), rgba(10, 168, 72, 0.95), rgba(17, 17, 17, 0.05)), url(../../../resources/images/alt/stadium-931975.jpg);
  padding: 2rem;
}

.league__team-short-description__btn {
  cursor: pointer;
  background-color: transparent;
  width: 4rem;
  height: 4rem;
  margin-left: 6rem;
  display: none;
}

.league__team-short-description__card-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[9];
      grid-template-columns: repeat(9, 1fr);
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
  row-gap: 2rem;
  padding: 6rem 2rem;
}

.league__team-short-description__card-container__hide {
  display: none;
  height: 0;
}

.league__team-short-description__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  place-items: center;
  height: 21rem;
  position: relative;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 2rem 1rem 4rem 1rem;
}

.league__team-short-description__card__btn {
  background-color: #620AA8;
  position: absolute;
  width: 3.2rem;
  height: 3.2rem;
  top: 16.5rem;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.league__team-short-description__card__btn:hover, .league__team-short-description__card__btn:focus {
  background-color: #FFDD82;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.league__team-short-description__card__icon {
  position: absolute;
  top: -8%;
  left: -8%;
  height: 3.75rem;
  width: 3.75rem;
}

.league__team-short-description__card__link {
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.league__team-short-description__card__link:hover, .league__team-short-description__card__link:focus {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.league__team-short-description__card__link:hover h2, .league__team-short-description__card__link:focus h2 {
  color: #DB4076;
}

.league__team-short-description__card__link__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  place-items: center;
}

.league__team-short-description__card__link__info__team-badge {
  width: 75%;
}

.league__team-short-description__card__link__info__team-name {
  color: #111;
  font-size: 1.6rem;
  padding: 1rem 0;
}

.league__team-short-description__indicator__plus {
  display: none;
  height: 0;
}

.league__team-short-description__indicator__plus__show {
  display: block;
  height: auto;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.league__team-short-description__indicator__plus__show:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  fill: #620AA8;
}

.league__team-short-description__indicator__minus {
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.league__team-short-description__indicator__minus:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  fill: #620AA8;
}

.league__team-short-description__indicator__minus__hide {
  display: none;
  height: 0;
}

.league__team-short-description__h2 {
  font-size: 2.4rem;
  padding: 4rem 4rem 1rem 4rem;
}

.share-link--mail {
  background-color: #0aa848;
  border-radius: 50%;
}

.share-link--facebook {
  background-color: #3b5998;
  border-radius: 50%;
}

.share-link--twitter {
  background-color: #00acee;
  border-radius: 50%;
}

.share-link--rss {
  background-color: #ee802f;
  border-radius: 50%;
}

.share-link--webpage {
  background-color: #0aa848;
  border-radius: 50%;
}

.share-link--youtube {
  background-color: #FF0000;
  border-radius: 50%;
}

.link__end {
  margin: auto;
  width: 100%;
}

@media only screen and (max-width: 1500px) {
  .league__events__card-container {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  .league__previous__card-container {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  .league__team-short-description__card-container {
    -ms-grid-columns: (1fr)[7];
        grid-template-columns: repeat(7, 1fr);
  }
}

@media only screen and (max-width: 1200px) {
  .league__events {
    padding: 4rem 1rem;
  }
  .league__events__card-container {
    -webkit-column-gap: 1rem;
            column-gap: 1rem;
  }
  .league__previous {
    padding: 4rem 1rem;
  }
  .league__previous__card-container {
    -webkit-column-gap: 1rem;
            column-gap: 1rem;
  }
  .league__team-short-description__card-container {
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
  }
}

@media only screen and (max-width: 1024px) {
  .league__events {
    padding: 3rem 1rem;
  }
  .league__events__btn {
    display: inline-block;
  }
  .league__events__card-container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .league__previous {
    padding: 3rem 1rem;
  }
  .league__previous__btn {
    display: inline-block;
  }
  .league__previous__card-container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .league__info__description {
    padding: 0rem 4rem;
  }
  .league__info__description__btn {
    display: inline-block;
  }
  .league__team-short-description__card-container {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
  .league__team-short-description__btn {
    display: inline-block;
  }
}

@media only screen and (max-width: 768px) {
  .league__events {
    padding: 1rem 1rem;
  }
  .league__events__card-container {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    row-gap: 1.4rem;
    padding-bottom: 1rem;
  }
  .league__previous {
    padding: 1rem 1rem;
  }
  .league__previous__card-container {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    row-gap: 1.4rem;
    padding-bottom: 1rem;
  }
  .league__info__description {
    padding: 0rem .5rem;
  }
  .league__info__description__p {
    margin: .5rem;
  }
  .league__info__media {
    padding: 4rem 1rem;
  }
  .league__intro__navigation {
    margin: 5rem 0;
  }
  .league__league-table {
    padding: 2rem;
  }
  .league__league-table__no-table {
    margin: 1rem 2rem;
  }
  .league__team-short-description__card-container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    padding: 2rem;
  }
  .league__team-short-description__card__btn {
    right: 1.5rem;
  }
  .h1 {
    letter-spacing: .5rem;
  }
}

@media only screen and (max-width: 480px) {
  .league__info__media {
    padding: 4rem 1rem;
  }
  .league__info__media__link {
    width: 4rem;
    height: 4rem;
  }
  .league__league-table {
    padding: .5rem;
  }
  .league__league-table__no-table {
    margin: 1rem 2rem;
  }
  .h1 {
    letter-spacing: .5rem;
  }
}
/*# sourceMappingURL=league.css.map */