@import "../../../styles/variables";

.league {
    padding-top: 5rem;
    background-image: $gradient-color-3;

    &__gallery {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
        grid-gap: 0 10px;
        grid-auto-rows: 10px;

        &__image img {
            width: 40rem;
            grid-row-end: span 2;
        }
    }

    &__header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;

        &__banner {
            margin: 2rem;
        }

        &__title {
            width: 100%;
            text-align: center;
            text-align: -webkit-center;

            &__h1 {
                font-size: 5rem;
                background-repeat: repeat;
                transition: all .2s;

                &:hover {
                    background-repeat: no-repeat;
                    color: $color-fifth;
                    transition: all .2s;
                }
            }
        }
    }
}

.h1 {
    width: 100%;
    

    
}