@import "../../../styles/variables";
@import "leagueEvents";
@import "leaguePreviousEvents";
@import "../leagueTable/leagueTable";

.league {
	padding-top: 3rem;
	background-image: $gradient-color-3;

	&__intro {
		display: flex;
		flex-direction: column;
		align-items: center;

		background: -webkit-linear-gradient(
			285deg,
			#251431 0%,
			#161130 22%
		);
		background: -o-linear-gradient(
			285deg,
			#251431 0%,
			#161130 22%
		);
		background: linear-gradient(
			165deg,
			#251431 0%,
			#161130 22%
		);
		color: #fff;

		&__image {
			background-size: cover !important;
			height: 96vh;
			width: auto;
			padding: 7% 10%;
		}

		&__header {
			margin: 4rem;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-evenly;

			&__banner {
				margin: 2rem;
			}

			&__title {
				text-align: center;
				text-align: -webkit-center;

				&__h1 {
					font-size: 5rem;
					background-repeat: no-repeat;
					transition: all 0.2s;
					width: 95%;

					&:hover {
						background-repeat: repeat;
						transition: all 0.2s;
					}
				}
			}
		}

		&__navigation {
			position: relative;
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 5rem;

			&__btn {
				height: 4rem;
				background-color: transparent;
				cursor: pointer;
			}

			&__icon {
				&--back {
					width: 5rem;
					height: 5rem;

					&:hover {
						fill: $color-fourth;
						transform: scale(1.2);
						transition: all 0.2s ease-in-out;
					}
				}

				&--share {
					flex: 0 1 40%;
					cursor: pointer;
					width: 4rem;
					height: 4rem;

					&:hover,
					&:focus {
						fill: $color-fifth;
						transform: scale(1.2);
						transition: all 0.2s ease-in-out;
					}
				}
			}

			&__link {
				flex: 0 1 40%;

				&:focus {
					outline: none;
					& > button > svg {
						transform: scale(1.2);
						transition: all 0.2s ease-in-out;
						fill: $color-fourth;
					}
				}
			}
		}

		&__share {
			display: flex;
			flex: 0 1 20%;
			flex-direction: column;
			align-items: center;
			justify-content: space-evenly;
			overflow: hidden;
			width: 5rem;
			height: 20rem;
			position: absolute;
			top: -1.2em;
			right: -4rem;

			&__hide {
				flex: 0 1 20%;
				display: none;
				height: 0;
			}

			&__link {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 4rem;
				height: 4rem;
				transition: all 0.2s ease-in-out;

				&:hover,
				&:focus {
					outline: none;
					transform: scale(1.2);
					transition: all 0.2s ease-in-out;
				}
			}
		}
	}

	&__info {
		margin: 2rem;

		&__description {
			padding: 0rem 9rem;

			&__btn {
				cursor: pointer;
				background-color: transparent;
				width: 4rem;
				height: 4rem;
				margin-left: 6rem;
				display: none;
			}

			&__h2 {
				margin: 2rem;
				font-size: 2.4rem;
				letter-spacing: 0.2rem;
			}

			&__p {
				font-size: 1.2rem;
				margin: 2rem;

				&__hide {
					display: none;
					height: 0;
				}
			}

			&__indicator {
				&__plus {
					display: none;
					height: 0;

					&__show {
						display: block;
						height: auto;
						transition: all 0.2s ease-in-out;

						&:hover {
							transform: scale(1.2);
							transition: all 0.2s ease-in-out;
							fill: $color-fourth;
						}
					}
				}

				&__minus {
					transition: all 0.2s ease-in-out;

					&:hover {
						transform: scale(1.2);
						transition: all 0.2s ease-in-out;
						fill: $color-fourth;
					}

					&__hide {
						display: none;
						height: 0;
					}
				}
			}
		}

		&__media {
			display: flex;
			padding: 8rem 4rem;
			align-items: center;
			justify-content: space-evenly;

			&__link {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 6rem;
				height: 6rem;
				transition: all 0.2s;

				&:hover,
				&:focus {
					transform: scale(1.2);
					transition: all 0.2s ease-in-out;
				}
			}
		}
	}

	&__team-badge {
		padding: 8rem 4rem;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-evenly;

		&__img {
			width: 5rem;
			height: 5rem;
		}

		&__link {
			transition: all 0.2s;

			&:hover,
			&:focus {
				transform: scale(1.2);
				transition: all 0.2s ease-in-out;
			}
		}
	}

	&__team-short-description {
		background-size: cover;
		background-image: linear-gradient(
				90deg,
				rgba(17, 17, 17, 0.05),
				rgba(10, 168, 72, 0.95),
				rgba(17, 17, 17, 0.05)
			),
			url(../../../resources/images/alt/stadium-931975.jpg);
		padding: 2rem;

		&__btn {
			cursor: pointer;
			background-color: transparent;
			width: 4rem;
			height: 4rem;
			margin-left: 6rem;
			display: none;
			position: relative;
		}

		&__card-container {
			display: grid;
			grid-template-columns: repeat(9, 1fr);
			column-gap: 2rem;
			row-gap: 2rem;
			padding: 6rem 2rem;

			&__hide {
				display: none;
				height: 0;
			}
		}

		&__card {
			display: flex;
			flex-direction: column;
			place-items: center;
			height: auto;
			text-align: center;

			background-color: rgba(255, 255, 255, 0.8);
			padding: 2rem 1rem 4rem 1rem;

			&__btn {
				position: relative;
				background-color: $color-fourth;
				width: 3.2rem;
				height: 3.2rem;
				transition: all 0.2s;

				&:hover,
				&:focus {
					background-color: $color-fifth;
					transition: all 0.2s ease-in-out;
				}
			}

			&__icon {
				position: absolute;
				top: -8%;
				left: -8%;
				height: 3.75rem;
				width: 3.75rem;
			}

			&__link {
				transition: all 0.2s ease-in-out;

				&:hover,
				&:focus {
					transform: scale(1.2);
					transition: all 0.2s ease-in-out;

					& h2 {
						color: $color-important;
					}
				}

				&__info {
					display: flex;
					flex-direction: column;
					place-items: center;

					&__team-badge {
						width: 75%;
					}

					&__team-name {
						color: $color-primary;
						font-size: 1.6rem;
						padding: 1rem 0;
					}
				}
			}
		}

		&__indicator {
			&__plus {
				display: none;
				height: 0;

				&__show {
					display: block;
					height: auto;
					transition: all 0.2s ease-in-out;

					&:hover {
						transform: scale(1.2);
						transition: all 0.2s ease-in-out;
						fill: $color-fourth;
					}
				}
			}

			&__minus {
				transition: all 0.2s ease-in-out;

				&:hover {
					transform: scale(1.2);
					transition: all 0.2s ease-in-out;
					fill: $color-fourth;
				}

				&__hide {
					display: none;
					height: 0;
				}
			}
		}

		&__h2 {
			font-size: 2.4rem;
			padding: 4rem 4rem 1rem 4rem;
		}
	}
}

.share-link--mail {
	background-color: $color-tertiary;
	border-radius: 50%;
}

.share-link--facebook {
	background-color: $color-facebook;
	border-radius: 50%;
}

.share-link--twitter {
	background-color: $color-twitter;
	border-radius: 50%;
}

.share-link--rss {
	background-color: $color-rss;
	border-radius: 50%;
}

.share-link--webpage {
	background-color: $color-tertiary;
	border-radius: 50%;
}

.share-link--youtube {
	background-color: $color-youtube;
	border-radius: 50%;
}

.link__end {
	margin: auto;
	width: 100%;
}

@media only screen and (max-width: 1500px) {
	.league {
		&__events {
			&__card-container {
				grid-template-columns: repeat(3, 1fr);
			}
		}

		&__previous {
			&__card-container {
				grid-template-columns: repeat(3, 1fr);
			}
		}

		&__team-short-description {
			&__card-container {
				grid-template-columns: repeat(7, 1fr);
			}
		}
	}
}

@media only screen and (max-width: 1200px) {
	.league {
		&__events {
			padding: 4rem 1rem;

			&__card-container {
				column-gap: 1rem;
			}
		}

		&__previous {
			padding: 4rem 1rem;

			&__card-container {
				column-gap: 1rem;
			}
		}

		&__team-short-description {
			&__card-container {
				grid-template-columns: repeat(6, 1fr);
			}
		}
	}
}

@media only screen and (max-width: 1024px) {
	.league {
		&__events {
			padding: 3rem 1rem;

			&__btn {
				display: inline-block;
			}

			&__card-container {
				grid-template-columns: repeat(2, 1fr);
			}
		}

		&__previous {
			padding: 3rem 1rem;

			&__btn {
				display: inline-block;
			}

			&__card-container {
				grid-template-columns: repeat(2, 1fr);
			}
		}

		&__info {
			&__description {
				padding: 0rem 4rem;

				&__btn {
					display: inline-block;
				}
			}
		}

		&__team-short-description {
			&__card-container {
				grid-template-columns: repeat(4, 1fr);
			}

			&__btn {
				display: inline-block;
			}
		}
	}
}

@media only screen and (max-width: 768px) {
	.league {
		&__events {
			padding: 1rem 1rem;

			&__btn {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				margin-left: 0;
			}

			&__card-container {
				display: flex;
				flex-direction: column;
				align-items: center;
			}
		}

		&__previous {
			padding: 1rem 1rem;

			&__card-container {
				display: flex;
				flex-direction: column;
				align-items: center;
			}
		}

		&__info {
			&__description {
				padding: 0rem 0.5rem;

				&__p {
					margin: 0.5rem;
				}
			}

			&__media {
				padding: 4rem 1rem;
			}
		}

		&__intro {
			&__navigation {
				margin: 5rem 0;
			}

			&__header {
				&__title {
					&__h1 {
						font-size: 4rem;
						width: 90%;
					}
				}
			}
		}

		&__league-table {
			padding: 2rem;

			&__no-table {
				margin: 1rem 2rem;
			}
		}

		&__team-short-description {
			&__card-container {
				display: flex;
				flex-direction: column;
				align-items: center;
			}
		}
	}

	.h1 {
		letter-spacing: 0.5rem;
	}
}

@media only screen and (max-width: 480px) {
	.league {
		&__info {
			&__media {
				padding: 4rem 1rem;

				&__link {
					width: 4rem;
					height: 4rem;
				}
			}
		}

		&__intro {
			&__header {
				&__banner {
					&__image {
						width: 12rem;
					}
				}

				&__title {
					&__h1 {
						font-size: 2rem;
						width: 100%;
					}
				}
			}

			&__image {
				display: flex;
				flex-direction: column;
				justify-content: space-evenly;
			}
		}

		&__league-table {
			padding: 0.5rem;

			&__no-table {
				margin: 1rem 2rem;
			}
		}
	}

	.h1 {
		letter-spacing: 0.5rem;
	}
}
