.league__next-events {
  padding: 4rem;
}

.league__next-events__h2 {
  margin-bottom: 4rem;
  margin-left: 4rem;
  font-size: 2.6rem;
  letter-spacing: .2rem;
}

.league__next-events__card-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
  row-gap: 8rem;
  place-items: center;
}

.league__next-events__card-container__card {
  padding-bottom: 2rem;
  background-size: cover;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(17, 17, 17, 0.6)), to(rgba(17, 17, 17, 0.6))), url(../../../resources/images/daniel-van-den-berg-29Jx9qyTW14-unsplash.jpg);
  background-image: linear-gradient(to right bottom, rgba(17, 17, 17, 0.6), rgba(17, 17, 17, 0.6)), url(../../../resources/images/daniel-van-den-berg-29Jx9qyTW14-unsplash.jpg);
}

.league__next-events__card-container__card__h4 {
  font-size: 1.2rem;
  margin: .5rem 0;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.league__next-events__card-container__card__h4:hover {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.league__next-events__card-container__card__p {
  font-size: 1rem;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.league__next-events__card-container__card__p:hover {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.league__next-events__card-container__card__hr {
  width: 20rem;
  background-image: radial-gradient(circle, #FFDD82 0%, rgba(210, 208, 208, 0) 90%);
  border: none;
  margin: 1rem;
}

.league__next-events__card-container__card__img {
  width: 26rem;
  height: auto;
}

.league__next-events__card-container__card__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  place-items: center;
}

.league__next-events__card-container__card__links {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr .5rem 2fr;
      grid-template-columns: 2fr .5rem 2fr;
  place-content: center;
  cursor: pointer;
  font-size: 1.8rem;
  margin: 1rem 0rem;
}

.league__next-events__card-container__card__links__link {
  margin: 0 1rem;
  color: #FFDD82;
  display: inline-block;
  border-bottom: 0.1rem solid #FFDD82;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.league__next-events__card-container__card__links__link:focus, .league__next-events__card-container__card__links__link:hover {
  background-color: #FFDD82;
  color: #DB4076;
  padding: 0rem 0.5rem;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  -webkit-transition: all .3s;
  transition: all .3s;
}

.link--home-team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.link--away-team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.league__league-table {
  padding: 4rem;
}

.league {
  padding-top: 3rem;
  background-image: radial-gradient(#0AA848 0%, #111 98%);
}

.league__intro {
  background: linear-gradient(165deg, #251431 0%, #161130 22%);
  color: #fff;
}

.league__intro__image {
  background-size: cover !important;
  height: 96vh;
  width: auto;
  padding: 7% 10%;
}

.league__intro__header {
  margin: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.league__intro__header__banner {
  margin: 2rem;
}

.league__intro__header__title {
  text-align: center;
  text-align: -webkit-center;
}

.league__intro__header__title__h1 {
  font-size: 5rem;
  background-repeat: no-repeat;
  -webkit-transition: all .2s;
  transition: all .2s;
  width: 100%;
}

.league__intro__header__title__h1:hover {
  background-repeat: repeat;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.league__intro__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5rem;
}

.league__intro__navigation__btn {
  height: 4rem;
  background-color: transparent;
  cursor: pointer;
}

.league__intro__navigation__icon--back {
  width: 5rem;
  height: 5rem;
}

.league__intro__navigation__icon--back:hover {
  fill: #620AA8;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.league__intro__navigation__icon--share {
  cursor: pointer;
  width: 4rem;
  height: 4rem;
}

.league__intro__navigation__icon--share:hover, .league__intro__navigation__icon--share:focus {
  fill: #FFDD82;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.league__intro__navigation__link:focus {
  outline: none;
}

.league__intro__navigation__link:focus > button > svg {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  fill: #620AA8;
}

.league__intro__share {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  overflow: hidden;
  position: absolute;
  left: 125rem;
  top: 10rem;
  width: 5rem;
  height: 20rem;
}

.league__intro__share__hide {
  display: none;
  height: 0;
}

.league__intro__share__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 4rem;
  height: 4rem;
}

.league__intro__share__link:hover, .league__intro__share__link:focus {
  outline: none;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.league__gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(40rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  grid-gap: 0 10px;
  grid-auto-rows: 10px;
}

.league__gallery__image img {
  width: 40rem;
  -ms-grid-row-span: 2;
      grid-row-end: span 2;
}

.league__info {
  margin: 2rem;
}

.league__info__description {
  padding: 0rem 9rem;
}

.league__info__description__h2 {
  margin: 2rem;
  font-size: 2.4rem;
  letter-spacing: .2rem;
}

.league__info__description__p {
  font-size: 1.2rem;
  margin: 2rem;
}

.league__info__media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8rem 4rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.league__info__media__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 6rem;
  height: 6rem;
}

.league__team-badge {
  padding: 8rem 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.league__team-badge__img {
  width: 5rem;
  height: 5rem;
}

.share-link--mail {
  background-color: #0AA848;
  border-radius: 50%;
}

.share-link--facebook {
  background-color: #3b5998;
  border-radius: 50%;
}

.share-link--twitter {
  background-color: #00acee;
  border-radius: 50%;
}

.share-link--rss {
  background-color: #ee802f;
  border-radius: 50%;
}

.share-link--webpage {
  background-color: #0AA848;
  border-radius: 50%;
}

.share-link--youtube {
  background-color: #FF0000;
  border-radius: 50%;
}
/*# sourceMappingURL=league.css.map */