.user-profile {
  background-image: linear-gradient(135deg, #663399 5%, #620AA8 50%);
  padding-top: 5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 1fr;
      grid-template-columns: 20% 1fr;
  min-height: 100vh;
}

.user-profile__btn {
  margin: 2rem;
  height: 4rem;
  width: 16rem;
  background-color: #DB4076;
  border: 0.3rem solid #DB4076;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.user-profile__btn:hover, .user-profile__btn:focus {
  background-color: #faf9f9;
  color: #111;
  border-color: #FFDD82;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.user-profile__badge {
  width: 80%;
  height: auto;
}

.user-profile__btn--remove {
  background-color: #DB4076;
  border: 0.3rem solid #DB4076;
  width: 8rem;
  height: 2.5rem;
}

.user-profile__btn--remove:hover, .user-profile__btn--remove:focus {
  background-color: #faf9f9;
  color: #111;
  border-color: #ffdd82;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.user-profile__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
}

.user-profile__cardContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 0 0 1.5rem #FFDD82;
          box-shadow: 0 0 1.5rem #FFDD82;
  padding: 1.4rem;
  border-radius: 5px;
  background-size: cover;
  background-image: radial-gradient(#28b485 0%, #111 98%);
}

.user-profile__list {
  grid-column: center-start / center-end;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(12rem, 15%))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(12rem, 15%));
  grid-gap: 3rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.user-profile__sidebar {
  background: linear-gradient(135deg, #620AA8 12%, #111 99%);
}

.user-profile__fav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 4rem;
  text-align: center;
}

.user-profile__h3 {
  font-family: "Alegreya Sans", sans-serif;
  font-size: 1.3rem;
  letter-spacing: 0.4rem;
  padding: 1rem;
  text-transform: uppercase;
}

.user-profile__header {
  padding-bottom: 2rem;
}

.user-profile__main {
  padding-top: 5rem;
}

.user-profile__nav {
  padding: 0.5rem;
  text-align: center;
  margin: 14vh auto;
}

.user-profile__no-fav {
  margin-bottom: 2rem;
  font-size: 1.3rem;
  grid-column: 1 / span all;
}

.user-profile__profile {
  padding-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-profile__image {
  border-radius: 50%;
  height: 10rem;
  width: 10rem;
}

.user-profile__h2 {
  font-family: "Alegreya Sans", sans-serif;
  font-size: 2rem;
  margin-top: 1rem;
  margin-bottom: 0;
}

.user-profile__user-type {
  color: #faf9f9;
  font-size: 1.4rem;
  margin-top: 0.5rem;
}

@media only screen and (max-width: 1100px) {
  .user-profile__btn {
    width: 12rem;
  }
  .user-profile__list {
    -ms-grid-columns: (minmax(12rem, 20%))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(12rem, 20%));
  }
}

@media only screen and (max-width: 800px) {
  .user-profile__btn {
    height: 3rem;
    width: 8rem;
  }
  .user-profile__image {
    height: 6rem;
    width: 6rem;
  }
  .user-profile__list {
    -ms-grid-columns: (minmax(12rem, 30%))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(12rem, 30%));
  }
}

@media only screen and (max-width: 600px) {
  .user-profile__btn {
    margin: 1rem;
    height: 2.6rem;
    width: 6rem;
  }
  .user-profile__h2 {
    font-size: 1.6rem;
  }
}

@media only screen and (max-width: 460px) {
  .user-profile__btn {
    margin: 0.6rem;
    height: 2rem;
    width: 4.6rem;
    font-size: 1.1rem;
  }
  .user-profile__h2 {
    font-size: 1.1rem;
  }
  .user-profile__image {
    height: 4rem;
    width: 4rem;
  }
  .user-profile__list {
    -ms-grid-columns: (minmax(12rem, 50%))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(12rem, 50%));
  }
}

@media only screen and (max-width: 360px) {
  .user-profile__btn {
    margin: 0.4rem;
    height: 1.8rem;
    width: 4.2rem;
    font-size: 1rem;
  }
  .user-profile__h2 {
    font-size: 1rem;
  }
  .user-profile__image {
    height: 4rem;
    width: 4rem;
  }
}
/*# sourceMappingURL=UserProfile.css.map */