$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Lato', sans-serif;
$tertiary-font: 'Alegreya Sans', sans-serif;

/////////////////
// C O L O U R S
/////////////////

$color-primary: #111;
$color-secondary: #28b485;
$color-tertiary: #0AA848;
$color-fourth-light: #663399;
$color-fourth: #620AA8;
$color-fifth: #FFDD82;
$color-important: #DB4076;

$color-facebook: #3b5998;
$color-google-plus: #db4a39;
$color-twitter: #00acee;

$color-grey-light-1: #faf9f9;
$color-grey-light-2: #f4f2f2;
$color-grey-light-3: #f0eeee;
$color-grey-light-4: #ccc;

$color-black: #111;
$color-grey-dark-1: #333;
$color-grey-dark-2: #777;
$color-grey-dark-3: #999;

$gradient-color-1: linear-gradient(90deg, $color-fifth 0%, $color-fourth 70%);
$gradient-color-2: radial-gradient($color-secondary 0%, $color-primary 98%);
$gradient-color-3: radial-gradient($color-tertiary 0%, $color-primary 98%);
$gradient-color-4: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)) no-repeat center center;
$gradient-color-5: linear-gradient(135deg, $color-secondary 0%, $color-primary 90%);
$gradient-color-6: linear-gradient(135deg, $color-fourth 12%, $color-primary 99%);
$gradient-color-7: linear-gradient(135deg, $color-fourth-light 5%, $color-fourth 50%);

$gradient-hr: radial-gradient(circle, $color-fifth 0%, rgba(210,208,208,0) 50%);

$shadow-dark: 0 2rem 6rem rgba(0, 0, 0, .3);
$shadow-yellow: 0 0 1.5rem $color-fifth;
$shadow-light: 0 0 .8rem rgba(255, 255, 255, 1);