@import "../../styles/variables";
@import "../../styles/animations";


.btn {
    height: 2rem;
    width: 6rem;
    border: none;
    background-color: $color-fourth;
    border-radius: 2rem;
    color: $color-grey-light-1;
    font-size: 1.2rem;

    &:hover, &:focus, &:active {
        outline: none;
        background-color: transparent;
    }
}

.icon {
    fill: $color-grey-light-1;
    width: 60%;
    height: 65%;

    &:hover, &:focus {
        outline: none;
    }
}

.link {
    &:link, &:visited, &:active, &:focus, &:hover {
        outline: none;
        text-decoration: none;
    }
}

.h1, h2, h3, h4, p, span {
    font-family: $primary-font;
    color: $color-grey-light-1;
}

.hr {
    border: none;
    margin: 2rem 0 4rem 0;
    height: .2rem;
    background-image: $gradient-hr;
}
