@import "../../styles/variables";

.team__gallery {
    padding: 8rem 4rem;

    &__title {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        margin: 4rem 0 10rem 0;


        &__h2 {
            font-size: 2rem;
            align-self: center;
            margin-right: 6rem;
        }
    
        &__p {
            font-size: 8rem;
            padding: 0 4rem;
        }
    }

    &__images{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
        grid-gap: 0 10px;
        grid-auto-rows: 10px;
    
        &__image img {
            width: 40rem;
            grid-row-end: span 2;
        }
    }
    
}