.team__gallery {
  padding: 8rem 4rem;
}

.team__gallery__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 4rem 0 10rem 0;
}

.team__gallery__title__h2 {
  font-size: 2rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-right: 6rem;
}

.team__gallery__title__p {
  font-size: 8rem;
  padding: 0 4rem;
}

.team__gallery__images {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(40rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  grid-gap: 0 10px;
  grid-auto-rows: 10px;
}

.team__gallery__images__image img {
  width: 40rem;
  -ms-grid-row-span: 2;
      grid-row-end: span 2;
}

.team__events {
  padding: 4rem;
}

.team__events__h2 {
  margin-top: 12rem;
  margin-bottom: 4rem;
  font-size: 2.6rem;
  letter-spacing: .2rem;
}

.team__events__card-container {
  display: -ms-inline-grid;
  display: inline-grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -webkit-column-gap: 3rem;
          column-gap: 3rem;
  row-gap: 8rem;
  place-items: center;
  padding-bottom: 4rem;
}

.team__events__card-container__card {
  padding-bottom: 2rem;
  height: 95vh;
  background-size: cover;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(17, 17, 17, 0.6)), to(rgba(17, 17, 17, 0.6))), url(../../resources/images/daniel-van-den-berg-29Jx9qyTW14-unsplash.jpg);
  background-image: linear-gradient(to right bottom, rgba(17, 17, 17, 0.6), rgba(17, 17, 17, 0.6)), url(../../resources/images/daniel-van-den-berg-29Jx9qyTW14-unsplash.jpg);
}

.team__events__card-container__card__h4 {
  font-size: 1.2rem;
  margin: .5rem 0;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.team__events__card-container__card__h4:hover {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.team__events__card-container__card__p {
  font-size: 1rem;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.team__events__card-container__card__p:hover {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.team__events__card-container__card__hr {
  width: 20rem;
  background-image: radial-gradient(circle, #FFDD82 0%, rgba(210, 208, 208, 0) 90%);
  border: none;
  margin: 1rem;
}

.team__events__card-container__card__img {
  width: 100%;
  height: auto;
}

.team__events__card-container__card__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  place-items: center;
  padding-top: 2rem;
}

.team__events__card-container__card__links {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 2rem 2fr;
      grid-template-columns: 2fr 2rem 2fr;
  place-content: center;
  cursor: pointer;
  font-size: 1.8rem;
  padding: 4rem 2rem;
  height: 6rem;
}

.team__events__card-container__card__links__p {
  padding: .1rem;
}

.team__events__card-container__card__links__link {
  color: #FFDD82;
  display: inline-block;
  border-bottom: 0.1rem solid #FFDD82;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.team__events__card-container__card__links__link:focus, .team__events__card-container__card__links__link:hover {
  background-color: #FFDD82;
  color: #DB4076;
  padding: 0rem 0.5rem;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  -webkit-transition: all .3s;
  transition: all .3s;
}

.team__events__card-container__card__video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  place-items: center;
  padding: 2rem;
}

.team__events__no-events {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 4;
  font-size: 2rem;
}

.card__previous {
  height: 110vh;
}

.link--home-team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 1rem;
}

.link--away-team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 1rem;
}

.team {
  padding-top: 3rem;
  background-image: radial-gradient(#0aa848 0%, #111 98%);
}

.team__container-btn {
  position: relative;
  padding: 12rem 0;
}

.team__container-btn__center-btn {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.team__container-btn__center-btn__button {
  width: 18rem;
  height: 6rem;
  background-color: #DB4076;
  -webkit-transition: all .2s;
  transition: all .2s;
  font-size: 1.8rem;
}

.team__container-btn__center-btn__button:hover, .team__container-btn__center-btn__button:focus {
  cursor: pointer;
  background-color: #FFDD82;
  -webkit-transition: all .2s;
  transition: all .2s;
  color: #111;
}

.team__intro {
  background: linear-gradient(165deg, #251431 0%, #161130 22%);
  color: #fff;
}

.team__intro__image {
  background-size: cover !important;
  height: 96vh;
  width: auto;
  padding: 7% 10%;
}

.team__intro__header {
  margin: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.team__intro__header__banner {
  margin: 2rem;
}

.team__intro__header__title {
  text-align: center;
  text-align: -webkit-center;
}

.team__intro__header__title__h1 {
  font-size: 5rem;
  background-repeat: no-repeat;
  -webkit-transition: all .2s;
  transition: all .2s;
  width: 100%;
}

.team__intro__header__title__h1:hover {
  background-repeat: repeat;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.team__intro__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5rem;
}

.team__intro__navigation__btn {
  height: 4rem;
  background-color: transparent;
  cursor: pointer;
}

.team__intro__navigation__icon--back {
  width: 5rem;
  height: 5rem;
}

.team__intro__navigation__icon--back:hover {
  fill: #620AA8;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.team__intro__navigation__icon--share {
  cursor: pointer;
  width: 4rem;
  height: 4rem;
}

.team__intro__navigation__icon--share:hover, .team__intro__navigation__icon--share:focus {
  fill: #FFDD82;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.team__intro__navigation__link:focus {
  outline: none;
}

.team__intro__navigation__link:focus > button > svg {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  fill: #620AA8;
}

.team__intro__share {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  overflow: hidden;
  position: absolute;
  left: 125rem;
  top: 10rem;
  width: 5rem;
  height: 20rem;
}

.team__intro__share__hide {
  display: none;
  height: 0;
}

.team__intro__share__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 4rem;
  height: 4rem;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.team__intro__share__link:hover, .team__intro__share__link:focus {
  outline: none;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.team__info {
  margin: 12rem 2rem 2rem 2rem;
}

.team__info__description {
  padding: 0rem 9rem;
}

.team__info__description__h2 {
  margin: 2rem;
  font-size: 2.4rem;
  letter-spacing: .2rem;
}

.team__info__description__span {
  font-size: 1.2rem;
  margin: 2rem;
}

.team__info__media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8rem 4rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.team__info__media__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 6rem;
  height: 6rem;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.team__info__media__link:hover, .team__info__media__link:focus {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.team__stadium {
  margin-top: 10rem;
}

.team__stadium__description {
  padding: 0rem 9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team__stadium__description__facts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.team__stadium__description__facts__location {
  padding: 2rem 4rem;
}

.team__stadium__description__facts__capacity {
  padding: 2rem 4rem;
}

.team__stadium__image {
  background-size: cover !important;
  height: 110vh;
  width: auto;
  padding: 2% 10%;
}

.description__h2 {
  margin: 2rem;
  font-size: 2.4rem;
  letter-spacing: .2rem;
}

.description__span {
  font-size: 1.2rem;
  margin: 2rem;
}

@media only screen and (max-width: 1500px) {
  .team__events__card-container {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 1200px) {
  .team__events {
    padding: 4rem 1rem;
  }
  .team__events__card-container {
    -webkit-column-gap: 1rem;
            column-gap: 1rem;
  }
  .team__stadium {
    margin-top: 6rem;
  }
}

@media only screen and (max-width: 1024px) {
  .team__events {
    padding: 3rem 1rem;
  }
  .team__events__card-container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .team__info {
    margin: 6rem 2rem 2rem 2rem;
  }
  .team__stadium {
    margin-top: 4rem;
  }
  .team__stadium__description {
    padding: 0rem 3rem;
  }
  .team__stadium__image {
    padding: 2% 3%;
  }
}

@media only screen and (max-width: 768px) {
  .team__container-btn {
    padding: 3rem 0;
  }
  .team__events {
    padding: 1rem 1rem;
  }
  .team__events__card-container {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    row-gap: 1.4rem;
    padding-bottom: 1rem;
  }
  .team__events__h2 {
    margin: 3rem 0;
  }
  .team__info {
    margin: 2rem;
  }
  .team__info__description {
    padding: 0rem .5rem;
  }
  .team__info__description__span {
    margin: .5rem;
  }
  .team__info__media {
    padding: 4rem 1rem;
  }
  .team__intro__navigation {
    margin: 5rem 0;
  }
  .team__gallery {
    display: none;
  }
  .team__stadium {
    margin-top: 3rem;
  }
  .team__stadium__description {
    padding: 0rem 3rem;
  }
  .team__stadium__image {
    padding: 2% 1%;
  }
  .h1 {
    letter-spacing: .5rem;
  }
  .description__span {
    margin: 1rem;
  }
}

@media only screen and (max-width: 480px) {
  .team {
    padding-top: 0rem;
  }
  .team__container-btn {
    padding: 2rem 0;
  }
  .team__events__h2 {
    margin: 1.6rem 0;
  }
  .team__info {
    margin: 1rem;
  }
  .team__info__media {
    padding: 4rem 1rem;
  }
  .team__info__media__link {
    width: 4rem;
    height: 4rem;
  }
  .team__stadium {
    margin-top: 2rem;
  }
  .team__stadium__description {
    padding: 0rem .5rem;
  }
  .team__stadium__image {
    padding: 2% 1%;
  }
  .description__span {
    margin: .5rem;
  }
  .h1 {
    letter-spacing: .5rem;
  }
  .hr {
    margin: 2rem 0;
  }
}
/*# sourceMappingURL=team.css.map */