@import "../../styles/variables";
@import "teamGallery";
@import "teamEvents";

.team {
    padding-top: 3rem;
    background-image: $gradient-color-3;

    &__container-btn {
        position: relative;
        padding: 12rem 0;

        &__center-btn {
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);

            &__button {
                width: 18rem;
                height: 6rem;
                background-color: $color-important;
                transition: all .2s;
                font-size: 1.8rem;
        
                &:hover, &:focus {
                    cursor: pointer;
                    background-color: $color-fifth;
                    transition: all .2s;
                    color: $color-black;
                }
            }
        }
    }


    &__intro {
        background: -webkit-linear-gradient(285deg, #251431 0%, #161130 22%);
        background: -o-linear-gradient(285deg, #251431 0%, #161130 22%);
        background: linear-gradient(165deg, #251431 0%, #161130 22%);
        color: #fff;

        &__image {
            background-size: cover !important;
            height: 96vh;
            width: auto;
            padding: 7% 10%;
        }

        &__header {
            margin: 4rem;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
    
            &__banner {
                margin: 2rem;
            }
    
            &__title {
                text-align: center;
                text-align: -webkit-center;
    
                &__h1 {
                    font-size: 5rem;
                    background-repeat: no-repeat;
                    transition: all .2s;
                    width: 100%;
    
                    &:hover {
                        background-repeat: repeat;
                        transition: all .2s;
                    }
                }
            }
        }

        &__navigation {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 5rem;

            &__btn {
                height: 4rem;
                background-color: transparent;
                cursor: pointer;
            }

            &__icon {
                &--back {
                    width: 5rem;
                    height: 5rem;
    
                    &:hover {
                        fill: $color-fourth;
                        transform: scale(1.2);
                        transition: all .2s ease-in-out;
                    }
                }

                &--share {
                    cursor: pointer;
                    width: 4rem;
                    height: 4rem;
    
                    &:hover, &:focus {
                        fill: $color-fifth;
                        transform: scale(1.2);
                        transition: all .2s ease-in-out;
                    }
                }
            }

            &__link {

                &:focus {
                    outline: none;
                    & > button > svg {
                        transform: scale(1.2);
                        transition: all .2s ease-in-out;
                        fill: $color-fourth;
                    }
                } 
            }
        }

        &__share {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            overflow: hidden;
            position: absolute;
            left: 125rem;
            top: 10rem;
            width: 5rem;
            height: 20rem;

            &__hide {
                display: none;
                height: 0;
            }

            &__link {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 4rem;
                height: 4rem;
                transition: all .2s ease-in-out;

                &:hover, &:focus {
                    outline: none;
                    transform: scale(1.2);
                    transition: all .2s ease-in-out;
                }
            }
        }
    }

    &__info {
        margin: 12rem 2rem 2rem 2rem;

        &__description {
            padding: 0rem 9rem;

            &__h2 {
                margin: 2rem;
                font-size: 2.4rem;
                letter-spacing: .2rem;
            }

            &__p {
                font-size: 1.2rem;
                margin: 2rem;
            }
        }

        &__media {
            display: flex;
            padding: 8rem 4rem;
            align-items: center;
            justify-content: space-evenly;

            &__link {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 6rem;
                height: 6rem;
                transition: all .2s;
        
                &:hover, &:focus {
                    transform: scale(1.2);
                    transition: all .2s ease-in-out;
                }
            }
        }
    }

    &__stadium {
        margin-top: 10rem;

        &__description {
            padding: 0rem 9rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            

            &__facts {
                display: flex;
                flex-direction: row;

                &__location {
                    padding: 2rem 4rem;
                }

                &__capacity {
                    padding: 2rem 4rem;
                }
            }
        }

        &__image {
            background-size: cover !important;
            height: 110vh;
            width: auto;
            padding: 2% 10%;
        }
    }
}

.description {

    &__h2 {
        margin: 2rem;
        font-size: 2.4rem;
        letter-spacing: .2rem;
    }

    &__p {
        font-size: 1.2rem;
        margin: 2rem;
    }
}