@import "../../styles/variables";

.header {
    display: flex;
    flex: 0 1 auto;
    justify-content: space-between;
    align-items: center;
    background-image: $gradient-color-2;
    padding: .6rem 0rem;
    position: fixed;
    width: 100%;
    z-index: 10;

    &__authentication {
        display: flex;
    }

    &__btn {
        height: 4rem;
        background-color: transparent;
        cursor: pointer;

        &--search {
            width: 6rem;
            height: 3.05rem;
            margin: 0;
            margin-left: 1rem;
            cursor: pointer;

            &:hover, &:focus, &:active {
                background-color: $color-important;
                transition: all .2s ease-in-out;
            }
        }
    }

    &__form {
        display: flex;
        justify-content: center;
    }

    &__icon {
        cursor: pointer;

        &:hover, &:focus {
            fill: $color-fourth;
            transform: scale(1.2);
            transition: all .2s ease-in-out;
        }

        &--search{
            &:hover, &:focus {
                fill: $color-grey-light-1;
                transform: none;
            }
        }
    }

    &__input {
        font-family: inherit;
		font-size: 1.4rem;
        border: none;
        border-radius: 2rem;
        background-color: $color-grey-light-2;
        padding: .7rem 2rem;
        width: 90%;
        transition: all .2s;
        margin-right: -5.25rem;

        &:focus {
			outline: none;
			width: 100%;
			background-color: $color-grey-light-3;
		}

		&::-webkit-input-placeholder {
			font-weight: 100;
			color: $color-grey-dark-3;
		}
    }

    &__link {
        &--logo {
            &:focus {
                background-color: $color-fourth;
                transition: all .2s ease-in-out;
            }
        }

        &:focus {
            outline: none;
            & > button > svg {
                transform: scale(1.2);
                transition: all .2s ease-in-out;
                fill: $color-fourth;
            }
        } 
    }

    &__logo {
        margin-left: 2rem;
    }

    &__searchbar {
        width: 100%;
        max-width: 50rem;
        height: auto;
    }
}

.logo {
    width: 100%;
    max-width: 25.6rem;
    min-width: 16rem;
    height: auto;
}

//get the icons highlighted when chosen with "tab"
.linkWrapper {
    &:focus-within, &:hover{
        transform: scale(1.1);
        transition: all .2s ease-in-out;
        fill: $color-fourth;
    }
}

@media only screen and (max-width: 768px) {
    .header {
        flex-wrap: wrap;

        &__logo {
            justify-content: flex-start;
            margin-left: 1rem;
        }

        &__searchbar {
            order: 3;
            justify-content: center;
            max-width: none;
        }

        &__authentication {
            order: 2;
            justify-content: flex-end;
        }
    }

    .logo {
        width: 75%;
    }
}

@media only screen and (max-width: 480px) {
    .header {

        &__logo {
            width: 50%;
        }
    }
}