@import "../../styles/variables";

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $color-secondary;
    padding: .6rem 0rem;

    &__authentication {
        display: flex;
    }

    &__btn {
        height: 4rem;
        background-color: transparent;

        &:hover, &:focus, &:active {
            outline: none;
            background-color: transparent;
        }

        &--search {
            width: 6rem;
            height: 3.05rem;
            margin: 0;
            margin-left: 1rem;

            &:hover, &:focus, &:active {
                background-color: $color-fourth;
                transition: all .2s ease-in-out;
            }
        }
    }

    &__form {
        display: flex;
        justify-content: center;
        width: 50rem;
    }

    //get the icons highlighted when chosen with "tab"
    &__login, &__signup {
        &:focus-within{
            .header__icon{
                fill: $color-fifth;
            }
            transform: scale(1.2);
            transition: all .2s ease-in-out;
        }
    }

    &__icon {
        &:hover, &:focus {
            fill: $color-fifth;
            transform: scale(1.2);
            transition: all .2s ease-in-out;
        }

        &--search{
            &:hover, &:focus {
                fill: $color-grey-light-1;
                transform: none;
            }
        }
    }

    &__input {
        font-family: inherit;
		font-size: 1.4rem;
        border: none;
        border-radius: 2rem;
        background-color: $color-grey-light-2;
        padding: .7rem 2rem;
        width: 90%;
        transition: all .2s;
        margin-right: -5.25rem;

        &:focus {
			outline: none;
			width: 100%;
			background-color: $color-grey-light-3;
		}

		&::-webkit-input-placeholder {
			font-weight: 100;
			color: $color-grey-dark-3;
		}
    }

    &__link {
        &:focus {
            outline: none;
        }
        &--logo {
            &:focus {
                outline: none;
                background-color: $color-fifth;
                transition: all .2s ease-in-out;
            }
        }
    }

    &__logo {
        width: 10%;
        margin-left: 2rem;
    }
}

.logo {
    width: 140%;
}