.footer {
  background-image: radial-gradient(#0aa848 0%, #111 98%);
  color: #faf9f9;
  font-size: .9rem;
  padding: 20rem 12rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.footer-top__copyright {
  line-height: 1.5rem;
  margin-top: 2rem;
}

.footer-top__header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20rem 20rem;
      grid-template-columns: 20rem 20rem;
  font-size: 1rem;
  margin-bottom: 2rem;
}

.footer-top__h2 {
  font-family: "Alegreya Sans", sans-serif;
  letter-spacing: .4rem;
  text-transform: uppercase;
  font-size: 2rem;
}

.footer-top__h3 {
  color: #f0eeee;
  font-size: 1.1rem;
  font-weight: normal;
}

.footer-top__item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.footer-top__nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (7rem)[2];
      grid-template-columns: repeat(2, 7rem);
}

.footer-top__link {
  color: inherit;
  text-decoration: none;
  font-size: 1.2rem;
}

.footer-top__link:focus, .footer-top__link:hover {
  color: #620AA8;
}

.footer-top__link--phone {
  font-size: 1.1rem;
}

.footer-bottom {
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  justify-items: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -ms-grid;
  display: grid;
}

.footer-bottom__image {
  height: auto;
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: 25rem;
}

.footer-bottom__link:focus {
  outline: none;
}

.footer-bottom__link:focus > svg {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  fill: #620AA8;
}

.footer-bottom__api {
  -ms-flex-item-align: end;
      align-self: flex-end;
  text-align: right;
}

.footer-bottom__icon {
  border-radius: 50%;
  height: auto;
  margin: 0 2rem;
  padding: .5rem;
  -webkit-transition: background-color .4s;
  transition: background-color .4s;
  width: 7.5%;
}

.footer-bottom__icon:hover {
  fill: #620AA8;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

@media only screen and (max-width: 1200px) {
  .footer {
    padding: 7rem 8rem;
  }
}

@media only screen and (max-width: 1024px) {
  .footer {
    padding: 7rem 4rem;
  }
  .footer-top__header, .footer-top__item {
    -ms-grid-columns: 15rem 15rem;
        grid-template-columns: 15rem 15rem;
  }
  .footer-top__nav {
    -ms-grid-columns: (4rem)[2];
        grid-template-columns: repeat(2, 4rem);
  }
}

@media only screen and (max-width: 768px) {
  .footer {
    padding: 4em;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 480px) {
  .footer {
    padding: 7rem 8rem;
  }
}
/*# sourceMappingURL=Footer.css.map */